<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/foto.png" class="img-fluid" id="perfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 profesion">
        <p>Alvarez Silvana Paola</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1 id="presentacion">Presentación</h1>
            <p id="parrafo">Mi nombre es Silvana Paola Alvarez, soy estudiante de 
                segundo año de la carrera de Ingeniería en Sistemas 
                de Información.
                Actualmente me encuentro trabajando de administrativa y 
                atención al público en un programa gubernamental de la 
                provincia de Tucumán, llamado Tucumán Mascotas. 
                Puedo decir que soy una persona sumamente dedicada que en un trabajo nuevo,
                toma notas y pregunta todo para poder aplicar mis conocimientos
                de acuerdo a las necesidades del sector o la empresa. 
            </p>
        </span>
    </div>
</div>
