<div class="row">
    <h1 id="experiencia">Experiencia</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h2>Administrativa y Atención al Público (2016-Actualidad)</h2>
            </li>
            <p>
                Tucumán Mascotas: Programa estatal de castaciones masivas y tenencia responsable de
                perros y gatos de la provincia de Tucumán.
                Tareas de auxiliar administrativa y atención al público en trailers
                que recorren el territorio de la provincia.

            </p>
        </ul>
        <ul>
            <li>
                <h2>Cajera, Atención al Público, tareas generales (2014-2015)</h2>
            </li>
            <p>
                Tareas de atención al publico y caja de forma rotativa (heladería, kiosko, cyber).
            </p>
        </ul>
    </div>
</div>