<div class="row">
    <h1 id="educacion">Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h2>Curso Argentina Programa: "YoProgramo2"</h2>
            </li>
            <p>
                Creación de portafolio aprendiendo a utilizar diferentes
                habilidades digitales, herramientas, 
                métodos y lenguajes de programación
                (Javascript, Java, HTML, CSS, git, github, Nodejs, Angular
                MYSQL).
            </p>
        </ul>
        <ul>
            <li>
                <h2>Curso Argentina Programa: "Se Programar"</h2>
            </li>
            <p>
                Curso Nacional de introducción a la programación.
            </p>
        </ul>
        <ul>
            <li>
                <h2>Ingeniería en Sistemas de Información</h2>
            </li>
            <p>
                Cursando el segundo año de la carrera.
                Universidad Tecnológica Nacional, 
                Facultad Regional Tucumán, (calle Bernardino Rivadavia 1050, 
                localidad: San Miguel de Tucumán, provincia: Tucumán, 
                país: Argentina).
            </p>
        </ul>
        <ul>
            <li>
                <h2>Bachilerato con orientación a Ciencias Sociales</h2>
            </li>
            <p>
                Escuela secundaria N° 43 "Ex ENCYBA" (calle: Barrientos e 
                Icalma 4109, localidad: Gonzalez Catan, provincia: 
                Buenos Aires, país: Argentina).
            </p>
        </ul>
    </div>
</div>