<div class="row">
    <h1>Hard & Soft Skills</h1>
    <div class="text-center col-sm-4 col-md-5 col-lg-4">
        <circle-progress
    [percent]="90"
    [radius]="80"
    [imageSrc]="'../assets/html.png'"
    [showImage]="true"
    [imageHeight]="100"
    [imageWidth]="100"
    [showSubtitle]="false"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="6"
    [outerStrokeColor]="'blue'"
    [innerStrokeColor]="'#00FF00'"
    [animation]="true"
    [animationDuration]="600"
    [lazy]="true"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-5 col-lg-4">
        <circle-progress
    [percent]="90"
    [radius]="80"
    [imageSrc]="'../assets/CSS.png'"
    [showImage]="true"
    [imageHeight]="100"
    [imageWidth]="100"
    [showSubtitle]="false"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="6"
    [outerStrokeColor]="'blue'"
    [innerStrokeColor]="'#00FF00'"
    [animation]="true"
    [animationDuration]="600"
    [lazy]="true"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-5 col-lg-4">
        <circle-progress
    [percent]="85"
    [radius]="80"
    [imageSrc]="'../assets/Java.png'"
    [showImage]="true"
    [imageHeight]="100"
    [imageWidth]="100"
    [showSubtitle]="false"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="6"
    [outerStrokeColor]="'blue'"
    [innerStrokeColor]="'#00FF00'"
    [animation]="true"
    [animationDuration]="600"
    [lazy]="true"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-5 col-lg-4">
        <circle-progress
    [percent]="80"
    [radius]="80"
    [imageSrc]="'../assets/js.png'"
    [showImage]="true"
    [imageHeight]="90"
    [imageWidth]="90"
    [showSubtitle]="false"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="6"
    [outerStrokeColor]="'blue'"
    [innerStrokeColor]="'#00FF00'"
    [animation]="true"
    [animationDuration]="600"
    [lazy]="true"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-5 col-lg-4">
        <circle-progress
    [percent]="90"
    [radius]="80"
    [imageSrc]="'../assets/c.png'"
    [showImage]="true"
    [imageHeight]="100"
    [imageWidth]="100"
    [showSubtitle]="false"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="6"
    [outerStrokeColor]="'blue'"
    [innerStrokeColor]="'#00FF00'"
    [animation]="true"
    [animationDuration]="600"
    [lazy]="true"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-5 col-lg-4">
        <circle-progress
    [percent]="85"
    [radius]="80"
    [imageSrc]="'../assets/git.png'"
    [showImage]="true"
    [imageHeight]="90"
    [imageWidth]="90"
    [showSubtitle]="false"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="6"
    [outerStrokeColor]="'blue'"
    [innerStrokeColor]="'#00FF00'"
    [animation]="true"
    [animationDuration]="600"
    [lazy]="true"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-5 col-lg-4">
        <circle-progress
    [percent]="80"
    [radius]="80"
    [imageSrc]="'../assets/Haskell.png'"
    [showImage]="true"
    [imageHeight]="100"
    [imageWidth]="100"
    [showSubtitle]="false"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="6"
    [outerStrokeColor]="'blue'"
    [innerStrokeColor]="'#00FF00'"
    [animation]="true"
    [animationDuration]="600"
    [lazy]="true"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-5 col-lg-4">
        <circle-progress
    [percent]="75"
    [radius]="80"
    [imageSrc]="'../assets/Prolog.png'"
    [showImage]="true"
    [imageHeight]="80"
    [imageWidth]="80"
    [showSubtitle]="false"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="6"
    [outerStrokeColor]="'blue'"
    [innerStrokeColor]="'#00FF00'"
    [animation]="true"
    [animationDuration]="600"
    [lazy]="true"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-5 col-lg-4">
        <circle-progress
    [percent]="60"
    [radius]="80"
    [imageSrc]="'../assets/eng.png'"
    [showImage]="true"
    [imageHeight]="80"
    [imageWidth]="80"
    [showSubtitle]="false"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="6"
    [outerStrokeColor]="'blue'"
    [innerStrokeColor]="'#00FF00'"
    [animation]="true"
    [animationDuration]="600"
    [lazy]="true"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-5 col-lg-4">
        <circle-progress
    [percent]="90"
    [radius]="80"
    [imageSrc]="'../assets/grupal.png'"
    [showImage]="true"
    [imageHeight]="100"
    [imageWidth]="100"
    [showSubtitle]="false"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="6"
    [outerStrokeColor]="'blue'"
    [innerStrokeColor]="'#00FF00'"
    [animation]="true"
    [animationDuration]="600"
    [lazy]="true"
    ></circle-progress>
    </div>
</div>